.footer {
	width: 100%;
	padding: 6rem 0 2rem 0;
	.footer-wrapper {
		width: 100%;
		padding: 4rem;
		display: flex;
		justify-content: space-evenly;
		background-color: var(--bg-grey);
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}

		i {
			font-size: 3rem;
			margin-right: 2rem;
		}
		.social-icons {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			@media (max-width: 767px) {
				margin-bottom: 2rem;
			}
		}
		.contact {
			@media (max-width: 767px) {
				text-align: center;
			}
		}
	}
	.para {
		padding: 2rem;
	}
}
